.repeat-animate.ng-move,
.repeat-animate.ng-enter,
.repeat-animate.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
 
.repeat-animate.ng-leave.ng-leave-active,
.repeat-animate.ng-move,
.repeat-animate.ng-enter {
    opacity: 0;
}
 
.repeat-animate.ng-leave,
.repeat-animate.ng-move.ng-move-active,
.repeat-animate.ng-enter.ng-enter-active {
    opacity: 1;
}