<div class="row">
    <div class="large-12 columns">
        <h1>Awards and Achievements</h1>
    </div>
    <div class="large-12 columns">
        <p>All the rewards I've received.</p>
    </div>
</div>
<div class="row" data-ng-repeat="(category, data) in awards">
    <div class="12 columns">
        <h2>{{ category }}</h2>
    </div>
    <div class="12 columns" data-ng-repeat="award in data">
        <div class="panel">
            <div class="row">
                <div class="medium-3 columns small-only-text-center" data-ng-class="{ 'medium-push-9': $odd }">
                    <a class="th" href="{{ award.link }}">
                        <img data-ng-src="{{ award.thumb }}" alt="{{ award.name }}" />
                    </a>
                </div>
                <div class="medium-9 columns" data-ng-class="{ 'medium-pull-3': $odd }">
                    <h3><a href="{{ award.link }}">{{ award.name }}</a>
                    <h4 data-ng-if="award.date">{{ award.date | parseDate | date:'MMMM yyyy':'UTC' }}</h4></h3>
                    <p>{{ award.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>