<div class="row">
    <div class="12 columns">
        <h1>Skills</h1>
    </div>
    <div class="12 columns">
        <p>{{ message }}</p>
    </div>
</div>
<div class="row" data-ng-repeat="(category, data) in skills">
    <div class="12 columns">
        <h2>{{ category }}</h2>
    </div>
    <div class="large-6 columns" data-ng-repeat="skill in data">
        <div class="panel">
            <div class="row">
                <div class="medium-8 columns">
                    <h3>{{ skill.name }}</h3>
                </div>
                <div class="medium-4 columns medium-text-right">
                    <p>
                        <span data-ng-repeat="n in [0, 2, 4, 6, 8]" class="fa"
                        data-ng-class="(skill.rating > n) ? 'fa-star' : (skill.rating == n) ? 'fa-star-half-o' : 'fa-star-o'"></span>
                    </p>
                </div>
            </div>
            <p>{{ skill.description }}</p>
        </div>
    </div>
</div>